    <div class='card-image waves-effect waves-block waves-light'>
      <%= image_tag @event.image.url(:medium), class:'activator'%>
    </div>

    <div class='card-content'>
      <span class='card-title grey-text text-darken-4'><%= link_to @event.name, @event %></span>
      <p> Where: <%= @event.address %> </p>
      <p> When: <%= @event.friendly_date %> </p>
    </div>

    <div class='card-reveal'>
      <span class='card-title grey-text text-darken-4'><%= link_to @event.name, @event %><i class="material-icons right">close</i></span>
      <p> Where: <%= @event.address %> </p>
      <p> When: <%= @event.friendly_date %> </p>
      <p> Tag: <%= @event.tag %> </p>
    </div>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= link_to 'Edit event', edit_event_path, class: 'waves-effect waves-light btn' %>
<%= link_to 'Delete', @event, method: :delete, class: 'waves-effect waves-light btn red' %>

<script type='text/javascript'>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

  });
</script>

