<h1><%= @event.name %> </h1>
<p> Where: <%= @event.address %> </p>
<p> When: <%= @event.date %> </p>
<p> Latitude: <%= @event.latitude %> </p>
<p> Longitude: <%= @event.longitude %> </p>
<div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type='text/javascript'>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

  });
</script>

